@font-face {font-family:MalgunGothic; src:url(font/MalgunGothic.eot);}

@font-face {

    font-family:'MalgunGothic';

    src: url('font/MalgunGothic.eot');

    src: url('font/MalgunGothic.eot?#iefix') format('embedded-opentype'),

         url('font/MalgunGothic.woff') format('woff'),

         url('font/MalgunGothic.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;

}

body {

    font-family:'맑은고딕' , 'MalgunGothic';
    
}

a:link {text-decoration:none}
a:visited {text-decoration:none}
a:hover {text-decoration:underline}
a:active {text-decoration:none}

tr:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1));
  }


th, td {

    font-size: 12px;
 
}

tr {
    font-size: 10px;
}

.pagination{
    font-size: 10px;
}

.page-link{
    font-size: 10px;
}